.artists-table {
  text-align: left;
  border: 1px solid black;
  margin: 50px auto;
  width: 75%;
}

.artists-table thead {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.artist-image {
  max-width: 300px;  
}